.contact_page {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;

  @media screen and (max-width: 1024px) {
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }

  .contact_animation {
    object-fit: cover;
    max-width: 500px; // Control the size of the animation on smaller screens
    width: 100%;
    height: auto;
  }

  .contact_container {
    text-align: justify;
    margin: 20px;
    width: 100%;
    max-width: 600px;

    @media screen and (max-width: 768px) {
      text-align: center; // Center the text on smaller screens
      margin: 10px;
    }

    .contact_header {
      font-size: 40px;
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        font-size: 30px; // Reduce font size for smaller screens
      }
    }

    p {
      font-size: 16px;
      color: gray;
      font-weight: 500;
      font-family: 'Courier New', Courier, monospace;

      @media screen and (max-width: 768px) {
        font-size: 14px; // Reduce font size for smaller screens
      }
    }

    .contact_form {
      margin-bottom: 10px;

      .contact_form-group {
        margin-bottom: 20px;

        input,
        textarea {
          padding: 10px;
          padding-left: 15px;
          width: 100%;
          border-radius: 25px;
          background-color: rgb(234, 235, 235);
          border: none;
          color: #333;
          box-shadow: rgba(252, 252, 252, 0.24) 0px 3px 8px;

          &:hover {
            border: 1px solid rgb(235, 117, 32);
            background-color: white;
          }

          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
      }

      .contact_btn {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        color: white; // Text color
        background: linear-gradient(45deg, $dark-btn, $light-btn); // Gradient from coral to dodger blue
        transition: background 0.3s ease;

        &:hover {
          background: linear-gradient(45deg, $light-btn, $dark-btn); // Reverse gradient on hover
        }

        &:disabled {
          background-color: #bbb;
          cursor: not-allowed;
        }

        @media screen and (max-width: 768px) {
          font-size: 0.9rem; // Reduce button font size for smaller screens
          padding: 8px 16px; // Reduce button padding for smaller screens
        }
      }
    }
  }
}