.featured_product {
    padding-top: 30px;

    .product_card_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 30px;
        margin: 0 auto;
        gap: 2rem;
        padding-bottom: 30px;
        justify-items: center;
        

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr); // Show 3 columns on large tablets/smaller desktops
        }

        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr); // Show 2 columns on medium tablets
        }

        @media screen and (max-width: 690px) {
            grid-template-columns: repeat(1, 1fr); // Show 1 column on mobile screens
            padding: 0 10px; // Add padding for smaller screens
        }

        @media screen and (max-width: 480px) {
            padding: 0 5px; // Extra padding adjustment for very small screens
        }
}
}