.product_card {
    border-radius: 8px;
    padding: 5px 5px 0px 5px;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid $dark-brown;
    // background-color: rgb(184, 81, 81);
    // background-color: #e25454;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }


    .product_img {
        width: 100%;
        display: flex;
        height: 300px;
        background-color: $white;
        border: 5px solid $light-brown;
        border-radius: 8px 8px 0px 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: 0 auto;
            border-radius: 10px 10px 0px 0px;
        }

        @media screen and (max-width: 650px) {
            // width:  80%;
            // height: 80%;
        }

    }

    .product_name {
        font-size: $font-size-sm;
        color: $light-brown;
        padding-top: 20px;
        margin: 10px;
        background-image: linear-gradient(45deg, $dark-btn, $light-btn);
    background-clip: text;
    color: transparent;
    padding-bottom: 8px;
    font-weight: 700;
    }

    .rating {
        margin: 10px;
        
        .ant-rate-star-half .ant-rate-star-first {
            color: #f6d30c;
        }
    }

        .product_price {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            // margin: 10px;
            padding: 5px;
            .price {      
                font-size: $font-size-sm;
                color: $light-brown;
                padding-top: 10px;
                margin: 10px;
                background-image: linear-gradient(45deg, $dark-btn, $light-btn);
                background-clip: text;
                color: transparent;
                padding-bottom: 8px;
                font-weight: 700;
            }
            .old_price {
                font-size: $font-size-base;
                color: rgb(161, 101, 101);
                font-weight: 500;
                padding-left: 8px;
                text-decoration: line-through;
            }
            .btn {
                margin: 20px;
                background-color: brown;
                color: $white;
                background: linear-gradient(45deg, $dark-btn, $light-btn); // Gradient from coral to dodger blue
                transition: background 0.3s ease;
            
                &:hover {
                  background: linear-gradient(45deg, $light-btn, $dark-btn); // Reverse gradient on hover
                }
            }
        }
      
}