.product_card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s;
  // width: 100%;
  // max-width: 250px; 
  max-width: 300px;// Keeps all cards the same width
  height: 400px; // Keeps all cards the same height
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
  }

  .product_img {
    width: 100%;
    height: 220px; // Consistent image container height
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    // object-fit: cover;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      // object-fit: cover; // Ensures consistent image dimensions
    }
  }
  .product_info {
    .product_name {
      font-size: 1.1rem !important;
      font-weight: bold !important;
      margin-bottom: 0.5rem !important;
    }

    // .rating {
    //   margin: 0.5rem 0;
    // }
    .product_details {
      display: flex;
      justify-content: space-between;
      align-items: center; // Center aligns the items vertically
      margin-bottom: 30px;
    
      .product_category, .price {
        color: #161313;
        font-size: 1rem;
        line-height: 1.5; // Ensures consistent line height
        margin: 0; // Removes any default margins that could affect alignment
        padding: 0; // Removes any padding that could shift alignment
      }
    
      .product_category {
        flex: 1;
        text-align: left;
        font-weight: 700;
      }
    
      .price {
        flex: 1;
        font-weight: 700;
        text-align: right;
      }
    }
    
    .btn {
      padding: 8px 8px;
      font-size: 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white; // Text color
      background: linear-gradient(45deg, $dark-btn, $light-btn); // Gradient from coral to dodger blue
      transition: background 0.3s ease;
  
      &:hover {
        background: linear-gradient(45deg, $light-btn, $dark-btn); // Reverse gradient on hover
      }
    }
  }
}