// General Styles
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  .signin-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f0f2f5;
  
    // Left Side (Animation)
    .signin-left {
      flex: 1;
      background: linear-gradient(135deg, $primary-color, #b08527);
      display: flex;
      justify-content: center;
      align-items: center;
  
      .signin-animation {
        width: 80%;
        max-height: 80%;
      }
    }
  
    // Right Side (Form)
    .signin-right {
      flex: 1;
      padding: 40px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
  
      h3 {
        background-image: linear-gradient(45deg, $dark-btn, $light-btn);
        background-clip: text;
        color: transparent;
        font-size: 50px;
        padding-bottom: 8px;
        padding-top: 20px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 1.8rem;
        text-align: center;
      }
  
      .signin-form {
        width: 100%;
        max-width: 400px;
        background-color: #ffffff;
        padding: 20px;
        // border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
        .form-group {
          margin-bottom: 10px;
  
          label {
            display: block;
            margin-bottom: 5px;
            font-size: 1rem;
            color: #333;
          }
  
          .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid $input-border-color;
            border-radius: 5px;
            font-size: 1rem;
            transition: border-color 0.3s;
  
            &:focus {
              border-color: $primary-color;
              box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
            }
          }
  
          .error {
            color: $error-color;
            font-size: 0.875rem;
            margin-top: 5px;
          }
        }
  
        .btn-primary {
          width: 100%;
          background-color: $primary-color;
          color: $secondary-color;
          padding: 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          margin-top: 10px;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: $button-hover-color;
          }
  
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
  
        .text-center {
          text-align: center;
          margin-top: 15px;
          font-size: 17px;
  
          a {
            color: $primary-color;
            text-decoration: underline;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    // Responsive Design
    @media screen and (max-width: 768px) {
      flex-direction: column;
  
      .signin-left {
        height: 200px;
  
        .signin-animation {
          width: 60%;
        }
      }
  
      .signin-right {
        padding: 20px;
  
        h3 {
          font-size: 1.5rem;
        }
  
        .signin-form {
          padding: 20px;
        }
      }
    }
  }