@import './variables';
.main_container {
    // max-width: 1440px;
    max-width: auto 0;
    margin: 0 auto;
    


    @media (max-width: 1440px) {
        padding: 0 2vw;
        margin: 0;
    }
}


.section_title {
    font-size: 24px;
    color: $text_black;
    font-weight: 600;
    text-align: center;

    @media screen and (max-width: 860px) {
        font-size: 20px;
    }
}

.home_section_title {
    background-image: linear-gradient(45deg, $dark-btn, $light-btn);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    padding-bottom: 8px;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;

    @media screen and (max-width: 660px) {
        font-size: 24px;
    }
    @media (min-width: 768px) {
        font-size: 2.5rem; //  medium screens and up
      }
  
      @media (min-width: 1024px) {
        font-size: 3rem; // large screens
      }

    @media screen and (max-width: 1260px) {
        font-size: 30px;
    }

}

.section_subtitle {
    font-size: 14px;
    color: $text_gray;
    font-weight: 400;
    text-align: center;
}

.section_title_text {
    margin-bottom: 20px !important;
    padding: 0 !important;
    list-style: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: $text-gray;
    text-align: center;
  }

.text_gray {
    color: $text_gray;
}

.text_primary {
    color: $primary_color;
}

.primary_btn {
    border: none;
    outline: none;
    background: $primary_color;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
        background: $primary_hover_color;
        color: white;
    }

    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }

    @media (max-width: 680px) {
        padding: 3px 10px;
        font-size: 15px;
    }
}