@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    border: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
span,
i {
    font-family: "Be Vietnam Pro", sans-serif !important;
    margin: 0;
}


button {
    cursor: pointer;
}


.primary_btn {
    border: none;
    outline: none;
    background: $primary_color;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
        background: $primary_hover_color;
        color: white;
    }

    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }

    @media (max-width: 680px) {
        padding: 3px 10px;
        font-size: 15px;
    }
}

.secondary_btn {
    border: none;
    outline: none;
    background: $dark_orange;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
        background: $dark_orange;
        color: white;
    }

    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }

    @media (max-width: 680px) {
        padding: 3px 10px;
        font-size: 15px;
    }
}

.primary_outline_btn {
    border: 1px solid $primary_color;
    outline: none;
    background: $off-white;
    color: $primary_color;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
        background: $primary_color;
        color: white;
    }

    @media (max-width: 680px) {
        padding: 3px 10px;
        font-size: 15px;
    }
}